/* App.jsx */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #003478
    ;
}

.navbar-link {
    margin: 0 10px;
    text-decoration: none;
}


/* Register.jsx */
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-color: #228B22;
}

.register-category {
    margin-top: 15px;
}

.register-submit-container {
    display: flex;
    margin-top: 15px;
    justify-content: center;
}